.content {
    margin-top: auto;
}

.selections {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.selection {
    background-color: #EEEE9B;
    padding: 16px;
    border-radius: 64px;
    box-shadow: 10px 5px 5px dimgrey;
}

.selection:hover {
    cursor: pointer;
}

.selection:active {
    box-shadow: 10px 5px 5px darkgreen;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results * {
    font-size: 18px;
}

body {
    background-color: #ACD1AF;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    text-align: center;
}

footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}